@define-color bg {{background}};
@define-color fg {{foreground}};

@define-color black {{color0}};
@define-color red {{color1}};
@define-color green {{color2}};
@define-color yellow {{color3}};
@define-color blue {{color4}};
@define-color magenta {{color5}};
@define-color cyan {{color6}};
@define-color white {{color7}};

* {
  background: @bg;
  color: @fg;
}

#waybar {
  background-color: @bg;
  color: @fg;
}

#workspaces button.focused {
  background: @blue;
  color: @bg;
}
