@define-color bg #2C2C33;
@define-color fg #F4E2DA;

@define-color black #515158;
@define-color red #262A4B;
@define-color green #415160;
@define-color yellow #746E77;
@define-color blue #7C97AC;
@define-color magenta #A09795;
@define-color cyan #DFAD95;
@define-color white #E7CEC2;

* {
  background: @bg;
  color: @fg;
}

#waybar {
  background-color: @bg;
  color: @fg;
}

#workspaces button.focused {
  background: @blue;
  color: @bg;
}
